<div class="layui-card layadmin-tabs-card">
    <div class="layui-card-header">
        <span class="layui-breadcrumb">
            <a href="/management/index">首页</a>
            <a><cite>控制台</cite></a>
        </span>
    </div>
</div>
<div class="layui-fluid layadmin-container layui-col-space15" id="NB-dashboard-tab">

    <div class="layui-row layui-col-space15">
        <div class="layui-col-sm8">
            <div class="layui-card" style="min-height: 253px;">
                <div class="layui-card-body" style="padding: 25px;">
                    <div class="layui-tab-item layui-show">
                        <div class="layui-row">
                            <h3 style="font-weight: bolder;">欢迎使用 笔记博客！
                                <small class="appro"> - 如果你觉得好用，请帮作者<a class="approve"
                                                                       href="//fly.layui.com/case/u/3425688"
                                                                       target="_blank">点个赞！</a></small>
                            </h3>
                            <p class="layui-text" style="font-style: italic;">请尽情使用吧。</p>
                        </div>
                        <div class="layui-row layui-admin-mt20">
                            <div class="layui-col-sm6">
                                <h3>自定义您的网站</h3>
                                <div class="layui-admin-mt15">
                                    <a class="layui-btn" href="#/settings/common">自定义设置</a>
                                    <p class="layui-text font-italic font-size14 layui-admin-mt10">
                                        您可以自定义一些设置，例如：LOGO文字</p>
                                </div>
                            </div>
                            <div class="layui-col-sm6">
                                <h3 style="font-weight: bolder;">管理内容</h3>
                                <div class="layui-text">
                                    <p class="layui-admin-mt10"><i class="fa fa-edit"></i> <a href="#/article/post">撰写一篇新文章</a>
                                    </p>
                                    <p class="layui-admin-mt5"><i class="fa fa-sticky-note-o"></i> <a
                                            href="#/note/post">写一篇新笔记</a>
                                    </p>
                                    <p class="layui-admin-mt5"><i class="fa fa-book"></i>
                                        <a target="_blank"
                                           href="//shang.qq.com/wpa/qunwpa?idkey=6038ff36576f69325a84260aaacde20ad945c31f06f8365897589f8484fc43ea">
                                            交流/反馈/讨论（697053454）
                                        </a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="layui-col-sm4">
            <div class="layui-card" style="height: 253px;">
                <div class="layui-card-header">最新评论</div>
                <div class="layui-card-body">
                    <div class="layui-tab-item layui-show layui-form" th:if="${c.articleId == 0}">暂无内容</div>
                    <div class="layui-tab-item layui-show layui-form"  th:if="${c.articleId != 0}">
                        <p>
                            <span style="font-weight: bold;">文章标题<span th:text="${c.comment}"></span>：
                           </span>
                            <span><a class="layui-text" th:href="${'/article/'+c.articleId}" target="_blank"
                                     th:text="${c.articleTitle}" style="color: #1E9FFF;font-style: italic;"></a></span>
                        </p>
                        <p>
                            <span style="font-weight: bold;">文章日期：</span>
                            <span style="font-style: italic;"
                                  th:text="${#temporals.format(c.articleDate, 'yyyy-MM-dd HH:mm')}"></span>
                        </p>
                        <p>
                            <span style="font-weight: bold;">评论日期：</span>
                            <span style="font-style: italic;"
                                  th:text="${#temporals.format(c.comment.post, 'yyyy-MM-dd HH:mm')}"></span>
                        </p>
                        <p>
                            <span style="font-weight: bold;">评论内容：</span><br/>
                            <span style="font-style: italic;" th:text="${c.comment.clearComment}"></span>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="layui-row layui-col-space15">
        <div class="layui-col-sm4">
            <div class="layui-card" style="min-height: 293px;">
                <div class="layui-card-header">全部数据统计</div>
                <div class="layui-card-body">
                    <div class="layui-carousel layadmin-carousel layadmin-backlog">
                        <ul class="layui-row layui-col-space10 layui-this">
                            <li th:each="bds,bdsStat:${data}" class="layui-col-xs4" th:if="${bdsStat.index<=5}">
                                <a th:href="${(bds.url != '' && bds.url != null) ? bds.url : 'javascript:;'}"
                                   class="layadmin-backlog-body">
                                    <h3 th:text="${bds.text}"></h3>
                                    <p><cite th:text="${bds.sum}"></cite></p>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="layui-card" style="min-height: 293px;">
                <div class="layui-card-header">今日数据统计</div>
                <div class="layui-card-body">
                    <div class="layui-carousel layadmin-carousel layadmin-backlog">
                        <ul class="layui-row layui-col-space10 layui-this">
                            <li th:each="bds,bdsStat:${data}" class="layui-col-xs6" th:if="${bdsStat.index>5}">
                                <a th:href="${(bds.url != '' && bds.url != null) ? bds.url : 'javascript:;'}"
                                   class="layadmin-backlog-body">
                                    <h3 th:text="${bds.text}"></h3>
                                    <p><cite th:text="${bds.sum}"></cite></p>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="layui-col-sm8">
            <div class="layui-card">
                <div class="layui-card-header">最近访问统计</div>
                <div class="layui-card-body" style="padding: 0 15px;">
                    <div id="sum-container" style="height: 527px;width: 100%;"></div>
                </div>
            </div>
        </div>
    </div>


</div>
<script src="/static/plugins/echarts/echarts.min.js"></script>
<script src="/static/plugins/echarts/walden.js"></script>
<script th:inline="javascript">
    var tableData = [[${tableData}]];
</script>