<div class="layui-card layadmin-tabs-card">
    <div class="layui-card-header">
        <span class="layui-breadcrumb">
            <a href="/management/index">首页</a>
            <a><cite>控制台</cite></a>
        </span>
    </div>
</div>
<div class="layui-fluid layadmin-container layui-col-space15" id="NB-dashboard-tab">

    <div class="layui-row layui-col-space15">
        <div class="layui-col-sm8">
            <div class="layui-card" style="min-height: 253px;">
                <div class="layui-card-body" style="padding: 25px;">
                    <div class="layui-tab-item layui-show">
                        <div class="layui-row">
                            <h3 style="font-weight: bolder;">欢迎使用 笔记博客！
                                <small class="appro"> - 如果你觉得好用，请帮作者<a class="approve"
                                                                       href="//fly.layui.com/case/u/3425688"
                                                                       target="_blank">点个赞！</a></small>
                            </h3>
                            <p class="layui-text" style="font-style: italic;">请尽情使用吧。</p>
                        </div>
                        <div class="layui-row layui-admin-mt20">
                            <div class="layui-col-sm6">
                                <h3>自定义您的网站</h3>
                                <div class="layui-admin-mt15">
                                    <a class="layui-btn" href="#/settings/common">自定义设置</a>
                                    <p class="layui-text font-italic font-size14 layui-admin-mt10">
                                        您可以自定义一些设置，例如：LOGO文字</p>
                                </div>
                            </div>
                            <div class="layui-col-sm6">
                                <h3 style="font-weight: bolder;">管理内容</h3>
                                <div class="layui-text">
                                    <p class="layui-admin-mt10"><i class="fa fa-edit"></i> <a href="#/article/post">撰写一篇新文章</a>
                                    </p>
                                    <p class="layui-admin-mt5"><i class="fa fa-sticky-note-o"></i> <a
                                            href="#/note/post">写一篇新笔记</a>
                                    </p>
                                    <p class="layui-admin-mt5"><i class="fa fa-book"></i>
                                        <a target="_blank"
                                           href="//shang.qq.com/wpa/qunwpa?idkey=6038ff36576f69325a84260aaacde20ad945c31f06f8365897589f8484fc43ea">
                                            交流/反馈/讨论（697053454）
                                        </a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="layui-col-sm4">
            <div class="layui-card">
                <div class="layui-card-body">
                    <div class="layui-tab-item layui-show layui-form">
                        <h4>日记／随笔</h4>
                        <hr>
                        <p><input type="text" name="title" required lay-verify="required" placeholder="请输入标题"
                                  autocomplete="off" class="layui-input"></p>
                        <p class="layui-admin-mt10"><textarea name="content" required lay-verify="required"
                                                              placeholder="随笔内容，字数不要超过300"
                                                              class="layui-textarea"></textarea></p>
                        <p class="layui-admin-mt10" style="text-align: right;">
                            <button class="layui-btn layui-btn-sm" lay-submit lay-filter="simpleNotePost">发布日记／随笔
                            </button>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="layui-row layui-col-space15">
        <div class="layui-col-sm4">
            <div class="layui-card" style="min-height: 293px;">
                <div class="layui-card-header">基础数据统计</div>
                <div class="layui-card-body">
                    <div id="sum" class="layui-carousel layadmin-carousel layadmin-backlog" lay-anim=""
                         lay-indicator="inside"
                         lay-arrow="none" style="width: 100%; height: 280px;">
                        <div carousel-item="">
                            <ul class="layui-row layui-col-space10 layui-this">
                                <li class="layui-col-xs4">
                                    <a lay-href="" class="layadmin-backlog-body">
                                        <h3>博客文章</h3>
                                        <p><cite>66</cite></p>
                                    </a>
                                </li>
                                <li class="layui-col-xs4">
                                    <a lay-href="" class="layadmin-backlog-body">
                                        <h3>随手笔记</h3>
                                        <p><cite>12</cite></p>
                                    </a>
                                </li>
                                <li class="layui-col-xs4">
                                    <a lay-href="" class="layadmin-backlog-body">
                                        <h3>访客留言</h3>
                                        <p><cite>99</cite></p>
                                    </a>
                                </li>
                                <li class="layui-col-xs4">
                                    <a lay-href="" class="layadmin-backlog-body">
                                        <h3>用户总计</h3>
                                        <p><cite>99</cite></p>
                                    </a>
                                </li>
                                <li class="layui-col-xs4">
                                    <a lay-href="" class="layadmin-backlog-body">
                                        <h3>今日评论</h3>
                                        <p><cite>99</cite></p>
                                    </a>
                                </li>
                                <li class="layui-col-xs4">
                                    <a lay-href="" class="layadmin-backlog-body">
                                        <h3>新增用户</h3>
                                        <p><cite>99</cite></p>
                                    </a>
                                </li>
                            </ul>
                            <ul class="layui-row layui-col-space10">
                                <li class="layui-col-xs6">
                                    <a lay-href="" class="layadmin-backlog-body">
                                        <h3>新增留言</h3>
                                        <p><cite>5</cite></p>
                                    </a>
                                </li>
                                <li class="layui-col-xs6">
                                    <a lay-href="" class="layadmin-backlog-body">
                                        <h3>总计访问IP</h3>
                                        <p><cite>5</cite></p>
                                    </a>
                                </li>
                                <li class="layui-col-xs6">
                                    <a lay-href="" class="layadmin-backlog-body">
                                        <h3>今日访问IP</h3>
                                        <p><cite>5</cite></p>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="layui-carousel-ind">
                            <ul>
                                <li class="layui-this"></li>
                                <li class=""></li>
                            </ul>
                        </div>
                        <button class="layui-icon layui-carousel-arrow" lay-type="sub"></button>
                        <button class="layui-icon layui-carousel-arrow" lay-type="add"></button>
                    </div>
                </div>
            </div>
            <div class="layui-card" style="min-height: 293px;">
                <div class="layui-card-header">基础数据统计</div>
                <div class="layui-card-body">
                    <div id="sum" class="layui-carousel layadmin-carousel layadmin-backlog" lay-anim=""
                         lay-indicator="inside"
                         lay-arrow="none" style="width: 100%; height: 280px;">
                        <div carousel-item="">
                            <ul class="layui-row layui-col-space10 layui-this">
                                <li class="layui-col-xs4">
                                    <a lay-href="" class="layadmin-backlog-body">
                                        <h3>博客文章</h3>
                                        <p><cite>66</cite></p>
                                    </a>
                                </li>
                                <li class="layui-col-xs4">
                                    <a lay-href="" class="layadmin-backlog-body">
                                        <h3>随手笔记</h3>
                                        <p><cite>12</cite></p>
                                    </a>
                                </li>
                                <li class="layui-col-xs4">
                                    <a lay-href="" class="layadmin-backlog-body">
                                        <h3>访客留言</h3>
                                        <p><cite>99</cite></p>
                                    </a>
                                </li>
                                <li class="layui-col-xs4">
                                    <a lay-href="" class="layadmin-backlog-body">
                                        <h3>用户总计</h3>
                                        <p><cite>99</cite></p>
                                    </a>
                                </li>
                                <li class="layui-col-xs4">
                                    <a lay-href="" class="layadmin-backlog-body">
                                        <h3>今日评论</h3>
                                        <p><cite>99</cite></p>
                                    </a>
                                </li>
                                <li class="layui-col-xs4">
                                    <a lay-href="" class="layadmin-backlog-body">
                                        <h3>新增用户</h3>
                                        <p><cite>99</cite></p>
                                    </a>
                                </li>
                            </ul>
                            <ul class="layui-row layui-col-space10">
                                <li class="layui-col-xs6">
                                    <a lay-href="" class="layadmin-backlog-body">
                                        <h3>新增留言</h3>
                                        <p><cite>5</cite></p>
                                    </a>
                                </li>
                                <li class="layui-col-xs6">
                                    <a lay-href="" class="layadmin-backlog-body">
                                        <h3>总计访问IP</h3>
                                        <p><cite>5</cite></p>
                                    </a>
                                </li>
                                <li class="layui-col-xs6">
                                    <a lay-href="" class="layadmin-backlog-body">
                                        <h3>今日访问IP</h3>
                                        <p><cite>5</cite></p>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="layui-carousel-ind">
                            <ul>
                                <li class="layui-this"></li>
                                <li class=""></li>
                            </ul>
                        </div>
                        <button class="layui-icon layui-carousel-arrow" lay-type="sub"></button>
                        <button class="layui-icon layui-carousel-arrow" lay-type="add"></button>
                    </div>
                </div>
            </div>
        </div>
        <div class="layui-col-sm8">
            <div class="layui-card">
                <div class="layui-card-header">访问 IP 数／IP次统计</div>
                <div class="layui-card-body" style="padding: 0 15px;">
                    <div id="sum-container" style="height: 558px;width: 100%;"></div>
                </div>
            </div>
        </div>
    </div>


</div>
<script src="/static/plugins/echarts/echarts.min.js"></script>
<script src="/static/plugins/echarts/walden.js"></script>