<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta th:replace="frontend/fragment/style"/>
    <title th:text="${article.title}"></title>
    <link href="/static/plugins/editormd/css/editormd.preview.min.css" rel="stylesheet" type="text/css">
    <style>
        img:hover{
            cursor: pointer;
            box-shadow: 0 0 10px rgba(0, 0, 0, .8);
        }
    </style>
</head>
<body class="simple">
<div id="article-app">
    <bmy-header-mini :params="params" :st="st" :title="title" :bodyid="bodyId" :show-small="false"
                     :home="current"></bmy-header-mini>
    <hr class="header-hr">
    <bmy-article-page-mini :article="article" :author="author" :comments="comments.totalElements"
                           :name="params.website_title" :tags="tags" :similars="similars"
                           :alipay="params.alipay" :wechat="params.wechat_pay" :su="su">
        <bmy-comment v-show="params.all_comment_open == 1 && article.commented" slot="post" :id="article.id"
                     :su="su"></bmy-comment>
        <bmy-similar :articles="similars" slot="similar"></bmy-similar>
        <bmy-simple-comment-list slot="comment" :comments="comments" :tips="params.comment_notice"
                                 :re="params.all_comment_open == 1 && article.commented"></bmy-simple-comment-list>
    </bmy-article-page-mini>
    <bmy-footer :words="params.footer_words"></bmy-footer>
    <bottom-nav :params="params" :layui-element="elem"></bottom-nav>
</div>

<div th:replace="frontend/fragment/script"></div>
<script src="/static/assets/js/frontend/svg.js"></script>
<script src="/static/plugins/editormd/lib/marked.min.js"></script>
<script src="/static/plugins/editormd/lib/prettify.min.js"></script>
<script src="/static/plugins/editormd/lib/raphael.min.js"></script>
<script src="/static/plugins/editormd/lib/underscore.min.js"></script>
<script src="/static/plugins/editormd/lib/flowchart.min.js"></script>
<script src="/static/plugins/editormd/lib/jquery.flowchart.min.js"></script>
<script src="/static/plugins/editormd/lib/sequence-diagram.min.js"></script>
<script src="/static/plugins/editormd/editormd.min.js"></script>
<script th:inline="javascript">
    layui.use(['layedit', 'laypage', 'code', 'element'], function () {
        var layedit = BMY.layedit = layui.layedit;
        var laypage = layui.laypage;
        var element = layui.element;

        BMY.articleVM = new Vue({
            el: "#article-app",
            data: {
                params: [[${settings}]]
                , bodyId: "blog-body"
                , article: [[${article}]]
                , st: true
                , current: true
                , title: [[${article.title}]]
                , tags: [[${tags}]]
                , author: [[${author}]]
                , cates: [[${cateList}]]
                , similars: [[${similarArticles}]]
                , su: [[${su}]]
                , showInfoLabel: false
                , comments: [[${comments}]]
                , elem: element
            }
            , mounted: function () {
                var that = this;
                if (!BMY.detectmob()) {
                    var mdContent = that.article.mdContent;
                    if (mdContent.indexOf('[TOC]') > -1 || mdContent.indexOf('[TOCM]') > -1) {
                        layer.open({
                            type: 1
                            , title: '文章目录'
                            , area: ['200px', '400px']
                            , maxmin: true
                            , shade: 0
                            , offset: 'r'
                            , content: $("#custom-toc-container")
                            , zIndex: (19930916 + 1)
                        });
                    }
                }
                BMY.editor = layedit.build('comment-input', {
                    tool: ['face', '|', 'left', 'center', 'right', 'link', 'unlink']
                    , height: 150
                });

                $("body").on("click", "img", function () {
                    var $thisImg = $(this);
                    window.open($thisImg.attr("src"))
                })
            }
        });

        laypage.render({
            elem: "comment-page"
            , count: [[${comments.totalElements}]]
            , layout: ['prev', 'next']
            , jump: function (obj, first) {
                if (!first) {
                    layer.msg('第 ' + obj.curr + ' 页评论');
                    $.post("/article/comments", {
                        articleId: BMY.articleVM.article.id
                        , page: obj.curr
                        , limit: 10
                    }, function (cs) {
                        BMY.articleVM.comments = cs;
                    })
                }
            }
        });
    });
</script>

</body>
</html>