<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="me.wuwenbin.noteblogv4.dao.mapper.ArticleMapper">

    <!--文章分页信息-->
    <select id="findPageInfo" resultType="me.wuwenbin.noteblogv4.model.pojo.vo.NBArticleVO">
        SELECT a.*,c.cn_name FROM nb_article a LEFT JOIN nb_cate c ON a.cate_id = c.id
        <where>
            <if test="title != null and title != ''">
                a.title LIKE CONCAT('%', #{title}, '%')
            </if>
        </where>
    </select>

    <!--查找出最大的 top 值-->
    <select id="findMaxTop" resultType="java.lang.Integer">
        SELECT MAX(top)
        FROM nb_article
    </select>
</mapper>