<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="me.wuwenbin.noteblogv4.dao.mapper.UserPermissionMapper">

    <!--根据角色id查询所有资源-->
    <select id="findResourcesByRoleId" resultType="me.wuwenbin.noteblogv4.model.entity.permission.NBSysResource"
            parameterType="java.lang.Long">
        SELECT r.*
        FROM sys_resource r
        WHERE r.id IN (SELECT rr.resource_id
                       FROM sys_role_resource rr
                       WHERE rr.role_id = #{roleId})
    </select>

    <!--查询所有group（不重复）-->
    <select id="findAllGroupCates" resultType="me.wuwenbin.noteblogv4.model.entity.permission.NBSysResource">
        SELECT r.*
        FROM sys_resource r
        GROUP BY r.`group`
    </select>

    <!--删除角色资源关系-->
    <delete id="deleteRrByRoleId" parameterType="long">
        DELETE FROM sys_role_resource
        WHERE role_id = #{roleId}
    </delete>

</mapper>