<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="me.wuwenbin.noteblogv4.dao.mapper.UserMapper">

    <!--用户分页信息-->
    <select id="findPageInfo" resultType="me.wuwenbin.noteblogv4.model.entity.permission.NBSysUser">
        SELECT * FROM sys_user
        <where>
            <if test="user.nickname != null and user.nickname != ''">
                nickname LIKE CONCAT('%', #{user.nickname}, '%')
            </if>
            <if test="user.username != null and user.username != ''">
                AND username LIKE CONCAT('%', #{user.username}, '%')
            </if>
        </where>
    </select>

    <!--删除用户关联角色信息-->
    <delete id="deleteRolesByUserId" parameterType="long">
        DELETE
        FROM sys_user_role
        WHERE user_id = #{userId}
    </delete>

</mapper>