/** Created By Wuwenbin https://wuwenbin.me
 * mail to wuwenbinwork@163.com
 * 欢迎加入我们，QQ群：697053454
 * if you use the code,  please do not delete the comment
 * 如果您使用了此代码，请勿删除此头部注释
 * */
.logo, .logo:hover {
    font-family: "Exo 2", "Trebuchet MS", "Helvetica", "Arial", 'PingFang SC', 'Hiragino Sans GB', 'STHeiti Light', 'Microsoft YaHei', 'SimHei', 'WenQuanYi Micro Hei', sans-serif !important;
    letter-spacing: .04em;
    font-weight: lighter;
}

.logo + small {
    display: none;
    font-size: 12px;
    margin-left: 10px;
    letter-spacing: 3px;
    color: #393D49;
    cursor: text;
    user-select: text;
}

.header.mini .nav-btn a {
    margin-left: 5px !important;
}

.header.mini .nav-btn a > .layui-icon {
    font-size: 18px !important;
    font-weight: lighter !important;
}

.header.mini .right .layui-icon {
    font-weight: bolder;
}

@media screen and (min-width: 996px) {
    .logo + small {
        display: inline-block;
    }
}