#main-body.simple {
    padding-top: 80px;
}

.simple-article {
    border-left: none;
    padding-left: 20%;
    padding-right: 20%;
    background: inherit;
}

.simple-article:not(:first-child) {
    margin-top: 40px;
}

.layui-elem-quote.simple-article:hover {
    border-left: 5px solid rgba(244, 67, 54, 1);
    background-color: #F2F2F2;
    transition: border-left-width .3s ease-in, .3s ease-out;
    -moz-transition: border-left-width .3s ease-in, .3s ease-out;
    -webkit-transition: border-left-width .3s ease-in, .3s ease-out;
}

.logo-over {
    margin-left: 10%;
    margin-bottom: 10px;
}
.logo-over>a:hover{
    color: #F44336;
    cursor: pointer;
}
.logo-over>a:not(:last-child){
    margin-right: 15px;
}

.logo + small {
    display: none;
    font-size: 12px;
    margin-left: 10px;
    letter-spacing: 5px;
    color: #393D49;
    cursor: text;
    user-select: text;
}

@media screen and (min-width: 996px) {
    .logo + small {
        display: inline-block;
    }
}
