<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta th:replace="frontend/fragment/style"/>
    <link rel="stylesheet" href="/static/plugins/layui-fly/css/global.css">
    <title th:text="${settings.website_title+' - '+settings.menu_project}"></title>
    <style>
        #project-body {
            min-height: 660px;
            margin-top: 100px;
        }

        .layui-btn-primary:hover, .layui-tab-brief > .layui-tab-more li.layui-this:after, .layui-tab-brief > .layui-tab-title .layui-this:after {
            border-color: #F44336;
        }

        .layui-laypage a, .layui-laypage span {
            background-color: inherit;
        }
    </style>
</head>
<body class="layui-anim layui-anim-fade simple">
<div id="project-app">
    <bmy-header-mini :params="params" :st="false" :bodyid="bodyId" :show-small="false"
                     :project="current"></bmy-header-mini>
    <hr class="header-hr">
    <div id="project-body" class="layui-container animated fadeInUp">

        <div class="fly-main" style="overflow: hidden;">
            <div class="fly-tab-border fly-case-tab">
                <blockquote class="layui-elem-quote layui-quote-nm">引用区域的文字</blockquote>
            </div>
            <div class="layui-tab layui-tab-brief">
                <ul class="layui-tab-title">
                    <li class="layui-this"><a href="">本家作品</a></li>
                    <li><a href="">第三方分享</a></li>
                </ul>
            </div>

            <ul class="fly-case-list">
                <template v-for="n in 20">
                    <li>
                        <a class="fly-case-img" href="http://fly.layui.com/" target="_blank">
                            <img src="/upfiles/img/2018-11-10/55b0ff73-953b-4d47-91cd-3139dfa0bcfc.jpg" alt="Fly社区">
                            <cite class="layui-btn layui-btn-primary layui-btn-small">前往主页</cite>
                        </a>
                        <h2><a href="http://fly.layui.com/" target="_blank">Fly社区</a></h2>
                        <p class="fly-case-desc">Fly 社区是 layui 的官方社区，全站的前端层面基于 Layui 风格编写全站的前端层面基于 Layui 风格编写全站的前端层面基于
                            Layui
                            风格编写全站的前端层面基于 Layui 风格编写，轻量而简洁，并且模版已经开源，可用于极简社区模板。</p>
                        <div class="fly-case-info">
                            <a href="../user/home.html" class="fly-case-user" target="_blank"><img
                                    src="/upfiles/img/2018-11-10/55b0ff73-953b-4d47-91cd-3139dfa0bcfc.jpg"></a>
                            <p class="layui-elip" style="font-size: 12px;height: 38px;margin-top: 10px;"><span
                                    style="color: #666;">发布于</span> 2017-11-30
                            </p>
                            <button class="layui-btn layui-btn-primary fly-case-active" data-type="praise">详细</button>
                            <!-- <button class="layui-btn  fly-case-active" data-type="praise">已赞</button> -->
                        </div>
                    </li>
                </template>

            </ul>

            <!-- <blockquote class="layui-elem-quote layui-quote-nm">暂无数据</blockquote> -->

            <div id="project-page" style="text-align: center;"></div>

        </div>
    </div>
    <bmy-footer :words="params.footer_words"></bmy-footer>
    <bottom-nav :params="params" :layui-element="elem"></bottom-nav>
</div>
<div th:replace="frontend/fragment/script"></div>
<script th:inline="javascript">
    layui.use(['element', 'laypage'], function () {
        var laypage = layui.laypage;
        BMY.projectVm = new Vue({
            el: "#project-app",
            data: {
                params: [[${settings}]]
                , su: [[${su}]]
                ,currentPage:[[${projects}]]
                , current: true
                , bodyId: "project-body"
                , elem: layui.element
            }
            , methods: {},
            mounted: function () {
                bottomNav();

                //完整功能
                laypage.render({
                    elem: 'project-page'
                    , count: 100
                    , theme: '#F44336'
                    , layout: ['count', 'prev', 'page', 'next', 'limit', 'refresh']
                    , jump: function (obj) {
                        console.log(obj)
                    }
                })
            }
        })
    })

</script>
</body>
</html>