<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta th:replace="frontend/fragment/style"/>
    <title th:text="${settings.website_title}"></title>
    <link href="/static/assets/css/frontend/simple_index.css" type="text/css" rel="stylesheet">
</head>
<body class="layui-anim layui-anim-fadein simple">
<div id="index-app">
    <bmy-header :params="params" :home="current"></bmy-header>
    <hr class="header-hr">
    <!--<bmy-block :quote="quote"></bmy-block>-->
    <bmy-simple-articles>
        <!--<bmy-list slot="list"></bmy-list>-->
        <template slot="list" v-for="n in 50">
            <blockquote class="layui-elem-quote simple-article layui-anim layui-anim-upbit">
                <div class="article-title center-to-head"><a href="">这个是文章的标题a a aa啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊</a></div>
                <div class="article-title sm"><a href="">这个是文章的标题a a aa啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊</a></div>
                <div class="article-body normal">{{text}}</div>
                <div class="article-body sm">{{text2}}</div>
                <div class="article-footer">
                    <p>
                        <span><i class="fa fa-thermometer-1"></i> 热度：<span>2653℃</span></span>
                        <span><i class="fa fa-commenting-o"></i> <span>26</span>条评论</span>
                        <span><i class="fa fa-clock-o"></i> 时间：<span class="detail-date">2018年8月27日 22:00:00</span><span class="simple-date">18/08/27 22:00</span></span>
                    </p>
                </div>
            </blockquote>
        </template>
    </bmy-simple-articles>
    <bmy-footer :words="params.footer_words"></bmy-footer>
</div>
<div th:replace="frontend/fragment/script"></div>
<script th:inline="javascript">
    BMY.indexVM = new Vue({
        el: "#index-app",
        data: {
            articles: [[${articles}]],
            text: '' +
                ' 偶遇一个注入，权限还是蛮大的，至少执行cmdshell是没问题的，因为这是一台数据库服务器，和目标站是站库分离，又在内网中，所以没办法拿下shell。我想得到内网环境，继续内网渗透，可是在用sqlmap上传的过程中发现始终无法上传.......',
            text2:'偶遇一个注入，权限还是蛮大的，至少执行cmdshell是没问题的，因为这是一台数据库服务器，和目标站是站库分离，又在内网中，所以没办法拿下shell。',
            params: [[${settings}]],
            current: true,
            su: [[${su}]],
            quote: {
                showBlog: true
                , showSearch: false
                , showText: true
                , blogCount: 0
                , searchCount: 0
                , showClock: true
                , text: [[${settings.index_top_words}]]
            },
            sw: BMY.getParam("s") !== undefined ? decodeURIComponent(BMY.getParam("s")) : BMY.getParam("s")
        },
        mounted: function () {

        }
    });


    var justResult = $('#main-body').offset().top - $(window).scrollTop();
    animateNav();
    $(window).scroll(function () {
        justResult = animateNav();
    });


    function animateNav() {
        var result = $('#main-body').offset().top - $(window).scrollTop();
        if (result >= -50) {
            if (result >= justResult) {
                $("body.simple .header").removeClass("header-small");
                $("body.simple .nav-header").removeClass("nav-header-small");
            } else {
                $("body.simple .nav-header").addClass("nav-header-small");
                $("body.simple .header").addClass("header-small");
            }
        } else {
            if (result <= justResult) {
                $("body.simple .nav-header").addClass("nav-header-small");
                $("body.simple .header").addClass("header-small");
            } else {
                $("body.simple .header").removeClass("header-small");
                $("body.simple .nav-header").removeClass("nav-header-small");
            }
        }
        return result;
    }

    document.body.addEventListener('touchstart', function () {
    });


</script>
</body>
</html>