.layui-header *, #left-menu {
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
}

.layui-logo i, .layui-logo  span:first-of-type {
    color: #5FB878;
    font-style: italic;
    font-weight: bold;
}
.layui-logo span:nth-of-type(2){
    font-style: normal !important;
}

.layui-header .layui-nav-item .layui-icon {
    font-size: 17px;
}

.layui-layout-admin .layui-body {
    bottom: 70px;
}

.layui-side-menu .layui-nav .layui-nav-item > a {
    padding-left: 20px;
}

.layui-side-menu .layui-nav .layui-nav-item a > i {
    margin-right: 10px;
}

.layui-nav.layui-layout-right {
    padding-right: 20px;
}

.layadmin-tips .layui-text {
    width: 80%;
    max-width: 500px;
}

@media screen and (min-width: 993px) and (max-width: 1366px) {
    .vipspa-error .layui-container {
        width: 700px;
    }
}

@media screen and (min-width: 1367px) {
    .vipspa-error .layui-container {
        width: 1024px;
    }
}
